.center{
    text-align: center;
    background: #6d368e;
    padding: 0.15em;
    color: white;
}
.login{
    display: block;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -10px;
}
.ai {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    height: 100px;
    width: 95%;
    border-width: 5px;
    border-color: rgb(83, 151, 239);
    border-style: ridge;
}
.answer{
    position: absolute;
    color: rgb(105, 105, 105, 0.7);
    vertical-align: middle
}
.div{
    text-align: center;
}
.input{
    width: 50%;
    height: 40px;
    font-size: 20px;
}
.submit{
    word-spacing: 10px;
}
.back{
    text-align: left;
}
.create{
    text-align: center;
    margin-top: 10px;
}