.header{
  text-align: center;
  background: rgba(234, 130, 255, 0.619);
  padding: 0.05em;
  color: #6d368e;
}

.center{
    text-align: center;
    background: #6d368e;
    padding: 0.15em;
    color: white;
}

.img{
  width: 50px;
  height: 50px;
}

.login{
    display: block;
    text-align: left;
    width: 115px;
    margin-bottom: 20px;
    margin-top: -10px;
    color: blue;
}

.ai {
    margin-top: 10px;
    height: 100px;
    width: 95%;
    border-width: 5px;
    border-color: rgb(83, 151, 239);
    border-style: ridge;
}

.answer{
    color: rgb(105, 105, 105, 0.7);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 5px;
}

.div{
    text-align: center;
}

.input{
    width: 50%;
    height: 40px;
    font-size: 20px;
}

.submit{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #ffffff;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
  
  .submit:hover{
    background-color: rgb(102, 102, 102);
  }
  
  .submit:active{
    box-shadow:
      inset -2px -2px 3px rgba(102, 102, 102, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  .fsize{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container {
    width: 50%;
    height: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

input[type="text"],
input[type="password"] {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login2 {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login2:hover {
  background-color: #45a049;
}